@charset "utf-8";
/* CSS Document */
.bloc_right .partenaire{margin-top:15px; float:none;}
.bloc_right .partenaire h3{padding-top:25px; margin-top:0;}
.bloc_right .selecteur{
		width:300px;
		height:224px;
		background: url("../images/selecteur_bg.jpg") left top no-repeat #EA0B0B;
		padding:10px;
		margin-left:0;
		margin-top:25px;
		margin-bottom:30px;
		float:none;
}
	.bloc_right .selecteur h3{
			color:#ffffff;
			font-family:'Raleway-Bold', Arial;
			font-size:13px;
			padding-bottom:15px;
			border-bottom:1px solid #ffffff;
			margin-left:80px;
			margin-top:10px;
	}
	.bloc_right .selecteur select{
			width:98%;
			margin-left:2%;
			height:30px;
			padding-top:0px;
			color:#aaaaaa;
			font-size:12px;
			font-family:"Century", Arial;
			border:1px solid #777777;
			margin-top:10px;
	}
	.bloc_right .info-video{
			width:150px;
			height:46px;
			background: url("../images/bg_info.jpg") left no-repeat #FAEF23;
			border:none;
			font-family:'Raleway-Bold', Arial;
			font-size:12px;
			color:#4e55555;
			text-transform:uppercase;
			padding:3px 0 0 30px;
			text-align:left;
			float:left;
			margin-left:8px;
		}
	.bloc_right .prix-lampe{
			width:110px;
			height:46px;
			background: url("../images/bg_prix.jpg") left no-repeat #ffffff;
			border:none;
			font-family:'Raleway-Bold', Arial;
			font-size:13px;
			color:#EA0B0B;
			text-transform:uppercase;
			padding:5px 0 0 30px;
			text-align:left;
			float:left;
			margin-left:12px;
		}
	.bloc_right .boutique{
		width:300px;
		margin-top:25px;
	}
	.boutique h3{
			color:#FD871A;
			font-family:'Raleway-Bold', Arial;
			font-size:24px;
			border-bottom:1px solid #FD871A;
			margin-top:10px;
			padding:10px 0 10px 45px;
			background:url("../images/boutik.png") no-repeat left;
	}
	
	.boutique .list_carousel ul {
				margin: 0;
				padding: 0;
				list-style: none;
				display: block;
			}
			.boutique .list_carousel li {
				width: 300px;
				height: auto;
				padding: 0;
				
				display: block;
				float: left;
			}
			.boutique .list_carousel.responsive {
				width: auto;
				margin-left: 0;
			}
			.boutique .clearfix {
				float: none;
				clear: both;
			}
	.boutique img{
		display:block;
		float:left;
		height:auto;
		width:100px;
		margin:0 10px 0px 0;
		border:1px solid #cccccc;
	}
	.boutique p{
		float:left;
		margin-top:15px;
		text-align:justify;
	}
/* Contenu */
.contenu p.intro{margin-top:15px;}
.contenu p.notif{margin-top:15px; font-size:12px; color:#cccccc;}
.contenu p.notif strong{ color:red;}
.bloc_produit{
	width:650px;
	height:auto;
	padding:10px;
	background:#F7F7F7;
	border-bottom:2px solid #9AA3A3;
	margin-bottom:20px;
}
.bloc_produit .left-bloc{
	float:left;
	width:172px;
	margin-right:15px;
}
.bloc_produit .left-bloc a.photo-produit{
	display:block;
	width:172px;
	height:172px;
	border:1px solid #4E5555;
	overflow:hidden;
}
.bloc_produit .left-bloc a.photo-produit img{ border:none; width:172px;}
p.bouton-produit{width:100%; padding-top:5px;}
p.bouton-produit a.prix-produit{
	width:100px;
	height:34px;
	background:#;
	color:#ffffff;
	font-family:'Comfortaa-bold' , Arial;
	font-size:24px;
	font-weight:bold;
	text-align:center;
	display:block;
	float:right;
	padding-top:10px;
	margin-top:30px;
	margin-left:100px;
	transition: background .6s;
}
p.bouton-produit a.prix-produit:hover{background:#; transition: background .6s;}
p.bouton-produit a.view-product{
	width:66px;
	height:34px;
	background:#FD871A;
	padding:1px;
	text-align:center;
	display:block;
	float:right;
	transition: background .6s;
}
p.bouton-produit a.view-product:hover{background:#DF6B02; transition: background .6s;}
p.bouton-produit a.view-product span{
	width:64px;
	height:32px;
	background:none;
	color:#ffffff;
	font-family:'Comfortaa-bold' , Arial;
	font-size:16px;
	text-align:center;
	display:block;
	border:1px solid #ffffff;
	padding-top:5px;
}
p.bouton-produit a:hover, p.bouton-produit a:focus{text-decoration:none;}

.bloc_produit .right-bloc{
	float:left;
	width:441px;
}
.bloc_produit .right-bloc h2{
	margin:0 0 10px 0;
	font-size:14px;
	color:#010101;
	font-weight:bold;
}
.bloc_produit .right-bloc p{
	margin:0 0 10px 0;
	font-size:13px;
	color:#4d5454;
}
div.etat span{display:block; width:205px; height:20px; padding-left:25px; float:left; margin-bottom:15px;}
div.etat span.etat-dispo{background:url("../images/dispo.png") no-repeat left center; }
div.etat span.etat-stock{background:url("../images/stock.png") no-repeat left center; }
div.etat span.etat-livraison{background:url("../images/livraison.png") no-repeat left center; }
div.etat span.etat-tva{background:url("../images/tva.png") no-repeat left center; }
div.etat span.etat-port{background:url("../images/port.png") no-repeat left center; }
div.etat span.etat-retrait{background:url("../images/retrait.png") no-repeat left center; }
div.etat span.hidden{display:none;}

.owner-product{width: auto; clear:both; float:right;}
.owner-product a{ float:left; margin-left:25px; display:block;}
.owner-product a img{height:40px; width:auto;}
a.lien-partenaire{margin-top:10px; color:#FD871A;}
a.lien-partenaire:hover{color:#FD871A;}
/* Fancybox */
.fancybox-overlay{background:url("../images/trans.png") repeat!important;}
.fancybox-close{background:url("../images/close.png") no-repeat!important;}