  A:visited { color: #C0C0C0;text-decoration: none;}
  A:link { color: #C0C0C0;text-decoration: none;}
  A:hover { color: #FFFFFF;text-decoration: underline;}
  A:active {color: #FFFFFF;text-decoration: underline;}  
  TD { font-family: verdana,arial; color: #404040; font-size: 12}

